@model Domain.Entities.DeliveryDetails

@{
    ViewBag.Title = "BookSore - Оформление заказа";
}

<h2 class="title-order">Оформление заказа</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <fieldset class="order-fieldset">
        <legend class="order-legend"> Информация для оплаты и доставки заказа </legend>
        <span>
            <b> Личные данные</b>
        </span>
        <p class="order-block">
            <label> Ф.И.О <sup>*</sup> </label>
            @Html.TextBoxFor(x => x.FIO, new {@class= "form-control order-input-personal" })
            @*<input class="form-control order-input-personal" type="text" value="@Model.FIO" autofocus required />*@
        </p>
        <p class="order-block">
            <label> E-mail <sup>*</sup> </label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            @*<input class="form-control order-input-personal" value="@Model.Email" aria-describedby="emailHelp" type="email" required />*@
            <small id="emailHelp" class="form-text text-muted">Мы никогда не используем ваш e-mail в коммерческих целях </small>
        </p>
        <p class="order-block">
            <label>Телефон (обратите внимание на формат!) <sup>*</sup></label>
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            @*<input class="form-control order-input-personal" value="@Model.Phone" type="tel" pattern="+375 29 123-45-67" placeholder="+375 29 123-45-67" required />*@
        </p>
    </fieldset>

    <fieldset class="form-group group1">
        <legend> Служба доставки </legend>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("TypeDelivery", "Самовывоз", true)
                @*<input type="radio" value="pickup" name="TypeDelivery" checked="" />*@
                <b>Самовывоз</b>
            </label>
            <br />
            Стоимость 0,00 руб.
            <br />
            Вы можете самостоятельно забрать заказ из нашего магазина.
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("TypeDelivery", "Курьером (по Минску, платно)", false)
                @*<input type="radio" value="courier" name="TypeDelivery" />*@
                <b>Курьером (по Минску, платно)</b>
            </label>
            <br />
            Стоимость 5,00 руб.
            <br />
            При сумме покупки свыше 50 бел. рублей доставка бесплатна.
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("TypeDelivery", "Почтовая отправка", false)
                @*<input type="radio" value="mailing" name="TypeDelivery" />*@
                <b>Почтовая отправка</b>
            </label>
            <br />
            Стоимость почтовой доставки просчитывается индивидуально для каждого заказа в зависимости от веса посылки
        </div>
    </fieldset>

    <fieldset class="form-group group2">
        <legend> Платежная система </legend>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("TypePaySystem", "Наличный расчет", true)
                @*<input type="radio" value="cash" name="TypePaySystem" checked="" />*@
                <b>Наличный расчет</b>
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @Html.RadioButton("TypePaySystem", "Расчет банковской картой", false)
                @*<input type="radio" value="card" name="TypePaySystem" />*@
                <b>Расчет банковской картой</b>
            </label>
            <br />
            Visa, MasterCard, American Express и Белкарт
        </div>
        <div class="form-check">
            <label class="form-check-label">
                @*@Html.RadioButton("TypePaySystem", "erip", false)*@
                <input type="radio" value="Система 'Расчёт' (ЕРИП)" name="TypePaySystem" />
                <b>Система 'Расчёт' (ЕРИП)</b>
            </label>
            <br />
            Система 'Расчет (ЕРИП)' позволяет произвести оплату в любом удобном для Вас месте, в удобное для Вас время, в удобном для Вас пункте банковского обслуживания – банкомате, инфокиоске, интернет-банке, кассе банков, с помощью мобильного банкинга и т.д. Вы можете осуществить платеж с использованием наличных денежных средств, электронных денег и банковских платежных карточек в пунктах банковского обслуживания банков, которые оказывают услуги по приему платежей, а также посредством инструментов дистанционного банковского обслуживания.
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend> Состав заказа </legend>
        @Model.Basket@Html.Action("CopyBasket", "Basket")
    </fieldset>

    <fieldset class="form-group">
        <legend>Дополнительная информация</legend>
        <span>Комментарии к заказу:</span>
        @Html.TextArea("Comment", null, new { @class = "form-control", @rows = "3" })
        @*<textarea class="form-control" rows="3"></textarea>*@
    </fieldset>
    <input class="btn btn-success" type="submit" value="Оформить заказ"  />
}


